@font-face {
  font-family: Advent;
  src: url('fonts/AdventPro-Light.ttf');
}

body {
  background: #2B3856;
  color: white;
  font-family: Advent;
  text-align: center;
  font-size: 120%;
}

img#banner {
  width: 60%;
  max-width: 660px;
  margin-top: 64px;
}

div#subtitle {
  padding: 100px;
}

div.menu {
  align: center;
  margin: auto;
  width: 70%;
  height: 100%;
  overflow: hidden;
  display: inline-block;
}

div.menu-section {
  width: 180px;
  height: 250px;
  padding: 0px;
  overflow: hidden;
  display: inline-block;
  background: #5f6a85;
  border: 1px solid white;
  margin: 10px;
}

h1, h2 {
  font-size: 100%;
  font-weight: bold;
}

a {
  color: white;
}
