body {
  background: #2B3856;
  color: white;
  font-family: monospace;
  text-align: center;
}

div#banner {
  white-space: pre-wrap;
  font-size: 6pt;
}

div#subtitle {
  padding: 50px;
}

div.menu {
  align: center;
  margin: auto;
  height: 200px;
  width: 90%;
}

div.menu-section {
  float: left;
  width: 33%;
}

h1, h2 {
  font-size: 100%;
  font-weight: normal;
}

a {
  color: white;
}
